.after-hero__list {
  @include listFlexGap();
}

.after-hero__item {
  @include itemFlexGap(4);
}

.after-hero-img {
  background-color: $button-bg-color;
  max-width: 270px;
  max-height: 120px;
  padding: 25px 100px;
}

.after-hero__svg {
  min-height: 70px;
  min-width: 70px;
}

.after-hero__subtitle {
  padding-top: 30px;
  padding-bottom: 10px;
  @include fontLineWeightLetter(14, 16, bold, base);
  text-transform: uppercase;
  color: $main-text-color;
}

.after-hero__text {
  @include fontLineWeightLetter(14, 24, norm, base);
  color: $additional-text-color;
}

.after-hero__list li:last-child {
  margin-right: 0;
}
