.after-hero {
  @include forSize(minmob) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include forSize(minpc) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.after-hero__list {
  @include listFlexGap();
  @include verticalFlexCenter();
}

.after-hero__item {
  @include itemFlexGap(4);
}

.after-hero-img {
  background-color: $button-bg-color;
  max-height: 120px;

  @include forSize(minmob) {
    max-width: 450px;
    padding: 25px 192px;
  }

  @include forSize(mintab) {
    max-width: 354px;
    padding: 25px 144px;
  }

  @include forSize(minpc) {
    max-width: 270px;
    padding: 25px 100px;
  }
}

.after-hero__svg {
  min-height: 70px;
  min-width: 70px;
}

.after-hero__subtitle {
  padding-top: 30px;
  padding-bottom: 10px;
  @include fontLineWeightLetter(14, 16, bold, base);
  text-transform: uppercase;
  color: $main-text-color;

  @include forSize(minmob) {
    @include verticalFlexCenter();
  }

  @include forSize(mintab) {
    display: flex;
    justify-content: flex-start;
  }
}

.after-hero__text {
  @include fontLineWeightLetter(14, 24, norm, base);
  color: $additional-text-color;
}

.after-hero__list li:last-child {
  margin-right: 0;
}
