.after-hero {
  padding-top: 60px;
  padding-bottom: 60px;

  @include forSize(minpc) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.after-hero-list {
  @include verticalFlexCenter();
  @include listFlexGap();
  margin-top: 0;
}

.after-hero-list__item {
  @include itemFlexGap(4);
  margin-top: 0;
}

.after-hero-img {
  @include centeredFlex();
  background-color: $button-bg-color;
  max-height: 120px;
  margin-bottom: 30px;

  @include forSize(maxmob) {
    max-width: 270px;
    padding: 25px 100px;
  }

  @include forSize(minmob) {
    max-width: 450px;
    padding: 25px 192px;
  }

  @include forSize(mintab) {
    max-width: 354px;
    padding: 25px 144px;
  }

  @include forSize(minpc) {
    max-width: 270px;
    padding: 25px 0;
  }
}

.after-hero__svg {
  min-height: 70px;
  min-width: 70px;
}

.after-hero-list__subtitle {
  margin-bottom: 10px;
  @include fontLineWeightLetter(14, 16, bold, base);
  text-transform: uppercase;
  color: $main-text-color;
  @include verticalFlexCenter();

  @include forSize(mintab) {
    display: flex;
    justify-content: flex-start;
  }
}

.after-hero-list__text {
  @include fontLineWeightLetter(14, 24, norm, base);
  color: $additional-text-color;
  margin-bottom: 10px;
}

.after-hero-list li:last-child {
  margin-right: 0;
}
