.hero {
  background-repeat: no-repeat;
  background-size: cover;

  @include forSize(minmob) {
    background-image: $line-grad, url(../images/hero_mobile_img.jpg);
    @include imgMedia() {
      background-image: $line-grad, url(../images/hero_mobile_img@2x.jpg);
    }
  }

  @include forSize(mintab) {
    background-image: $line-grad, url(../images/hero_tablet_img.jpg);
    @include imgMedia() {
      background-image: $line-grad, url(../images/hero_tablet_img@2x.jpg);
    }
  }

  @include forSize(minpc) {
    background-image: $line-grad, url(../images/hero_img.jpg);
    @include imgMedia() {
      background-image: $line-grad, url(../images/hero_img@2x.jpg);
    }
  }
}

.hero .container {
  @include forSize(minmob) {
    padding-bottom: 118px;
    padding-top: 118px;
  }

  @include forSize(minpc) {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

.hero-text {
  @include verticalFlexCenter;
}

.hero__title {
  text-align: center;
  padding-bottom: 30px;
  color: $main-bg-color;
  font-family: $main-font;
  text-transform: uppercase;

  @include forSize(minmob) {
    max-width: 360px;
    @include fontLineWeightLetter(26, 42, eb, dbl);
  }

  @include forSize(minpc) {
    max-width: 696px;
    @include fontLineWeightLetter(44, 60, eb, dbl);
  }
}

.hero-btn {
  @include verticalFlexCenter;
}

.hero__button,
.global-btn {
  min-height: 50px;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: $main-font;
  @include fontLineWeightLetter(16, 30, bold, dbl);
  background-color: $accent-color;
  color: $main-bg-color;

  @include transitionRules(transform);

  &:hover,
  &:focus {
    transform: $transform-effect;
  }
}
