.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @include forSize(minpc) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-clients__title {
  padding-bottom: 50px;
  text-align: center;
  @include fontLineWeightLetter(36, 42, bold, base);
}

.our-clients__list {
  display: flex;
  justify-content: space-between;
  @include listFlexGap();
}

.our-clients__item {
  @include alignFlexCenter();
  @include itemFlexGap(6);
}

.our-clients__link {
  @include centeredFlex(center);
  max-height: 92px;
  padding: 16px 32px;
  border: 1px solid $socials-main-color;
  border-radius: 4px;
  fill: $socials-main-color;

  @include forSize(minmob) {
    width: 210px;
  }

  @include forSize(mintab) {
    width: 226px;
  }

  @include forSize(minpc) {
    width: 170px;
  }

  @include transitionRules(fill, border);

  &:hover,
  &:focus {
    fill: $accent-color;
    border: 1px solid $accent-color;
  }
}

.our-clients__img {
  max-height: 60px;
  max-width: 106px;
}
