.our-work {
  display: none;

  @include forSize(minpc) {
    display: block;
    padding-bottom: 94px;
  }
}

.our-work__title {
  text-align: center;
  margin-bottom: 50px;
  @include fontLineWeightLetter(36, 42, bold, vert);
  color: $main-text-color;
}

.our-work-list {
  @include listFlexGap();
  margin-top: 0;
}

.our-work-list__item {
  position: relative;
  @include itemFlexGap(3);
  margin-top: 0;
}

.our-work-list__img {
  min-width: 370px;
  min-height: 294px;
}

.our-work-list__text {
  position: absolute;
  bottom: 0;
  display: block;
  padding: 28px 82px;
  width: 100%;
  text-align: center;
  @include fontLineWeightLetter(14, 16, bold, base);
  text-transform: uppercase;
  color: $main-bg-color;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-work-list li:last-child {
  margin-right: 0;
}
