.header-contacts__list {
  @include forSize(minmob) {
    display: none;
  }

  @include forSize(mintab) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 78px;
  }

  @include forSize(minpc) {
    @include alignFlexCenter();
    flex-direction: row;
  }
}

.header-contacts__item a {
  @include forSize(mintab) {
    @include fontLineWeightLetter(12, 14, med, base);
  }

  @include forSize(minpc) {
    font-family: $main-font;
    @include fontLineWeightLetter(14, 16, med, base);
    color: $additional-text-color;

    @include transitionRules(color, fill);
  }

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.header-contacts__item:not(:last-child) {
  @include forSize(mintab) {
    margin-bottom: 10px;
  }

  @include forSize(minpc) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.header-contacts__list li:last-child {
  margin-right: 0;

  @include forSize(mintab) {
    margin-bottom: 0;
  }
}

.header-contacts__mail {
  @include reverseFlex();

  &-svg {
    min-width: 16px;
    min-height: 12px;
    margin-right: 10px;
  }
}

.header-contacts__tel {
  @include reverseFlex();

  &-svg {
    min-width: 10px;
    min-height: 16px;
    margin-right: 10px;
  }
}
