.header-nav {
  @include forSize(mintab) {
    @include alignFlexCenter();
  }
}

.header-nav__logo {
  font-family: $secondary-font;
  @include fontLineWeightLetter(24, 28, bold, base);

  @include forSize(mintab) {
    margin-right: 70px;
  }

  @include forSize(minpc) {
    margin-right: 92px;
    @include fontLineWeightLetter(26, 31, bold, base);
  }

  & span {
    color: $accent-color;
  }
}

.header-nav__list {
  display: none;

  @include forSize(mintab) {
    display: flex;
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__list li:last-child {
  margin-right: 0;
}

.header-nav__link {
  position: relative;
  font-family: $main-font;
  @include fontLineWeightLetter(14, 16, med, base);
  color: $main-text-color;

  @include transitionRules(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.current-link a:visited {
  color: $accent-color;
}

.header-nav__link:hover::after,
.header-nav__link:focus::after,
.current-link a::after {
  @include forSize(mintab) {
    content: "";
    position: absolute;
    top: 50px;
    display: block;
    height: 4px;
    width: 100%;
    background-color: $accent-color;
  }

  @include forSize(minpc) {
    content: "";
    position: absolute;
    top: 45px;
    display: block;
    height: 4px;
    width: 100%;
    background-color: $accent-color;
  }
}
