.footer__logo {
  margin-bottom: 20px;
  font-family: $secondary-font;
  color: $main-bg-color;
  @include verticalFlexCenter();
  @include fontLineWeightLetter(24, 28, bold, base);

  @include forSize(minpc) {
    display: inline-block;
    @include fontLineWeightLetter(26, 31, bold, base);
  }
}

.footer__logo span {
  color: $accent-color;
}
