.subscribe__form {
  padding-left: 0;

  @include forSize(mintab) {
    @include columnFlexDirection();
    margin-left: auto;
    margin-right: auto;
  }

  @include forSize(minpc) {
    padding-left: 94px;
  }
}

.subscribe__label {
  padding-top: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: $main-bg-color;
  @include fontLineWeightLetter(14, 16, bold, base);
  @include verticalFlexCenter();

  @include forSize(mintab) {
    @include centeredFlex(center);
  }

  @include forSize(minpc) {
    display: inline-flex;
    justify-content: flex-start;
  }
}

.subscribe__row {
  @include alignFlexCenter();
  flex-direction: column;

  @include forSize(minpc) {
    @include centeredFlex();
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.subscribe__email {
  min-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include fontLineWeightLetter(16, 20, norm, base);
  color: rgba(255, 255, 255, 0.6);
  background-color: $secondary-bg-color;
  min-width: 450px;
  margin-bottom: 20px;

  @include forSize(maxmob) {
    min-width: 300px;
  }

  @include forSize(minpc) {
    min-width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe__button {
  @include alignFlexCenter();
  min-width: 200px;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  text-transform: capitalize;
  border-radius: 4px;
  border: 1px solid rgba(33, 150, 243, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include fontLineWeightLetter(16, 30, bold, base);
  background-color: $accent-color;
  color: $main-bg-color;

  @include transitionRules(transform);

  &:hover,
  &:focus {
    transform: $transform-effect;
  }
}

.subscribe__img {
  margin-left: 10px;
}
